<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <tri-widget flex title="Tests and packouts by part number" content-padding>
        <table class="table">
            <thead>
            <tr>
                <th md-column></th>
                <th md-column colspan="2"
                    ng-style="{'background': '#E0FAC0', 'padding-left':'25px', 'padding-top':'15px', 'font-size':'16px'}">
                    Packouts
                </th>
                <th md-column colspan="4"
                    ng-style="{'background': '#FCFBC2', 'padding-left':'25px', 'padding-top':'15px', 'font-size':'16px'}">
                    Tests
                </th>
            </tr>
            <tr md-row>
                <th md-column ng-style="{'background': '#FCE6C2'}">Part number</th>
                <th md-column md-numeric ng-style="{'background': '#E0FAC0', 'padding-left': '20px'}">Today</th>
                <th md-column md-numeric ng-style="{'background': '#E0FAC0', 'padding-left': '20px'}">This
                    week
                </th>
                <th md-column md-numeric ng-style="{'background': '#FCFBC2', 'padding-left': '20px'}">Today</th>
                <th md-column md-numeric ng-style="{'background': '#FCFBC2', 'padding-left': '20px'}">This
                    week
                </th>
                <th md-column md-numeric ng-style="{'background': '#FCFBC2', 'padding-left': '20px'}">Yield
                    today %
                </th>
                <th md-column md-numeric ng-style="{'background': '#FCFBC2', 'padding-left': '20px'}">Yield this
                    week %
                </th>
            </tr>
            </thead>
            <tbody class="md-caption">
            <tr md-row data-ng-repeat="summary in summaries | orderBy: 'name'">
                <td md-cell ng-style="{'background': '#FCE6C2'}">{{summary.name}}</td>
                <td md-cell ng-style="{'background': '#E0FAC0'}">{{summary.packoutdok}}</td>
                <td md-cell ng-style="{'background': '#E0FAC0'}">{{summary.packoutwok}}</td>
                <td md-cell ng-style="{'background': '#FCFBC2'}">{{summary.testsdok}}</td>
                <td md-cell ng-style="{'background': '#FCFBC2'}">{{summary.testswok}}</td>
                <td md-cell ng-style="{'background': '#FCFBC2'}">{{summary.testsdy | number: 2}}</td>
                <td md-cell ng-style="{'background': '#FCFBC2'}">{{summary.testswy | number: 2}}</td>
            </tr>
            <tr md-row>
                <td md-cell ng-style="{'padding':'15px', 'text-align':'right'}">Total</td>
                <td md-cell
                    ng-style="{'background': '#D0F4B3', 'font-weight': 'bold'}">{{total.packoutdok}}</td>
                <td md-cell
                    ng-style="{'background': '#D0F4B3', 'font-weight': 'bold'}">{{total.packoutwok}}</td>
                <td md-cell ng-style="{'background': '#EEF3B6', 'font-weight': 'bold'}">{{total.testsdok}}</td>
                <td md-cell ng-style="{'background': '#EEF3B6', 'font-weight': 'bold'}">{{total.testswok}}</td>
                <td md-cell ng-style="{'background': '#EEF3B6'}"></td>
                <td md-cell ng-style="{'background': '#EEF3B6'}"></td>
            </tr>
            </tbody>
        </table>
    </tri-widget>
</div>
