<div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')"
               aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="toolbar-button" ng-show="vm.isInventoryUser()" aria-label="scan" href="/sces/tray" style="color: #44FF66;">
        {{'SCES.NEW-TRAY' | translate}}
    </md-button>
    <md-button class="toolbar-button" ng-show="vm.isInventoryUser()" aria-label="scan" href="/sces/shipment" style="color: #FF7755;">
        {{'SCES.NEW-SHIPMENT' | translate}}
    </md-button>
    <md-button class="toolbar-button" ng-show="vm.isInventoryUser()" ng-click="vm.openScan()" aria-label="scan">
        <ng-md-icon class="side-menu-icon scan-icon" icon="cast" size="26" ></ng-md-icon>
        {{'SCES.SCAN-FIND' | translate}}
    </md-button>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>

    <!--<md-menu ng-show="vm.languages.length > 0">-->
    <!--<md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu()">-->
    <!--<md-icon md-font-icon="zmdi zmdi-globe-alt"></md-icon>-->
    <!--</md-button>-->
    <!--<md-menu-content width="3">-->
    <!--<md-menu-item ng-repeat="language in ::vm.languages">-->
    <!--<md-button ng-click="vm.switchLanguage(language.key)" translate="{{::language.name}}"-->
    <!--aria-label="{{::language.name}}"></md-button>-->
    <!--</md-menu-item>-->
    <!--</md-menu-content>-->
    <!--</md-menu>-->

    <!--<md-button class="md-icon-button toolbar-button animated" ng-click="vm.toggleNotificationsTab(0)"-->
    <!--aria-label="side navigation">-->
    <!--<md-icon md-font-icon="zmdi zmdi-email"></md-icon>-->
    <!--<span class="toolbar-button-badge animated" theme-background="accent"-->
    <!--ng-class="{ 'toolbar-button-badge-new' : vm.emailNew }">5</span>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button toolbar-button" ng-click="vm.toggleNotificationsTab(1)">-->
    <!--<md-icon md-font-icon="fa fa-bell-o"></md-icon>-->
    <!--<span class="toolbar-button-badge" theme-background="accent">2</span>-->
    <!--</md-button>-->

    <md-menu ng-show="vm.isAdmin()">
        <md-button class="md-icon-button" aria-label="Setting" ng-click="$mdOpenMenu()">
            <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button ng-click="vm.openUsers()">
                    <md-icon md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                    {{'MENU.SETTINGS.MANAGE-USERS' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openCompanies()">
                    <md-icon md-font-icon="zmdi zmdi-city-alt"></md-icon>
                    {{'MENU.SETTINGS.MANAGE-COMPANIES' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openReworkCodes()">
                    <md-icon md-font-icon="zmdi zmdi-flare"></md-icon>
                    {{'MENU.SETTINGS.MANAGE-REWORK-CODES' | translate}}
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="vm.openUploadData()">
                    <md-icon md-font-icon="zmdi zmdi-upload"></md-icon>
                        Upload data
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()">
            {{$root.currentUser.username}}
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.logout()">
                    <md-icon md-font-icon="icon-exit-to-app"></md-icon>
                    {{'MENU.AUTH.LOGOUT' | translate}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
