<md-card>
    <md-card-content layout="column" flex>
        <div>
            <md-progress-linear class="scesPadding" md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-subheader>{{'SCES.SCAN-BAR-CODE' | translate}}</md-subheader>
        <md-input-container class="md-icon-float" flex="1" layout-padding>
            <input type="text" id="allScanOptions" ng-keypress="onKeyPressed($event)" ng-model="code"
                   aria-label="Scan bar code">
        </md-input-container>
        <p style="padding:10px;color:red"><b>{{errorMessage}}</b></p>
    </md-card-content>
</md-card>

