<div layout-padding class="full-container" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-primary md-raised" aria-label="button" href="/sces/scan">
                <md-icon md-font-icon="zmdi zmdi-remote-control-alt"></md-icon>
                <span>{{'SCES.SCAN-FIND' | translate}}</span>
            </md-button>
            <md-button class="md-primary md-raised" aria-label="button" href="/sces/tray?id=">
                <md-icon md-font-icon="zmdi zmdi-inbox"></md-icon>
                <span>{{'SCES.NEW-TRAY' | translate}}</span>
            </md-button>
            <md-button class="md-primary md-raised" aria-label="button" href="/sces/shipment?id=">
                <md-icon md-font-icon="zmdi zmdi-local-shipping"></md-icon>
                <span>{{'SCES.NEW-SHIPMENT' | translate}}</span>
            </md-button>
            <md-button class="md-primary md-raised" aria-label="button" href="/sces/batchrequest?id=">
                <md-icon md-font-icon="zmdi zmdi-star"></md-icon>
                <span>{{'SCES.NEW-BATCHREQUEST' | translate}}</span>
            </md-button>
            <span flex></span>
        </div>
    </md-toolbar>
    <div ui-view="contentsces" class="sces-content" flex="100"></div>
</div>
