<md-button ng-click="triMenuItem.openLink(triMenuItem.item)" class="md-primary md-raised side-menu-link"
           ng-class="{ 'md-hue-1': triMenuItem.item.active }">
    <ng-md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon"
                icon="{{::triMenuItem.item.icon}}" size="22"
    ></ng-md-icon>
    <span translate>{{::triMenuItem.item.name}}</span>
    <small ng-if="triMenuItem.item.badge" theme-background="accent"
           class="side-menu-badge">{{::triMenuItem.item.badge}}</small>
</md-button>