<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-sm="100">
        <md-card>
            <md-toolbar>
                <div class="padding-20 text-center">
                    <div><img src="/assets/images/logo.png" alt="{{appName}}"></div>
                    <h1 class="md-headline">
                        {{'LOGIN.RESET' | translate}}
                    </h1>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <form name="lock">
                    <md-input-container>
                        <label for="password">{{'FORGOT.RESET-LABEL' | translate}}</label>
                        <input id="password" label="password" name="password" type="password" ng-model="password"
                               ng-minlength="8" required/>
                        <ng-messages for="signup.password.$error"
                                     ng-include="'client/modules/authentication/signup/password.messages.html'"></ng-messages>
                    </md-input-container>
                    <md-button
                            class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"
                            ng-click="resetClick()"
                            ng-disabled="lock.$invalid">{{'LOGIN.RESET' | translate}}</md-button>
                </form>
            </md-content>

        </md-card>
    </div>
</div>
