/* view change animation */
.triangular-content {
    &.ng-enter,
    &.ng-leave {
      width: 100%;
      height: 100%;
      transition: .5s;
    }

    &.ng-enter {
      @include slideInRight();
    }

    &.ng-leave {
      opacity: 0;
    }
}
