/* view change animation */
.triangular-content {
    &.ng-enter,
    &.ng-leave {
      width: 100% !important;
      height: 100% !important;
      transition: .3s;
    }

    &.ng-enter {
      @include slideInRight();
    }

    &.ng-leave {
      opacity: 0;
      transition: 0s;
    }
}
