<div class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>{{'TIMETREND_OPTIONS_INTERVAL' | translate}}</label>
                <md-select ng-model="interval"
                           ng-change="changeInterval(interval)">
                    <md-option ng-repeat="i in ['Daily','Weekly']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'OPTIONS_MANUFACTURERS' | translate}}</label>
                <md-select ng-model="manufacturer" style="width:120px"
                           ng-change="changeManufacturer(manufacturer)">
                    <md-option ng-repeat="manufacturer in manufacturers | orderBy"
                               value="{{manufacturer}}">{{manufacturer}}</md-option>
                </md-select>
            </md-input-container>
            <span flex=""></span>
            <md-button ng-click="exportClick()" class="md-raised" aria-label="Export data">
                <ng-md-icon icon="get_app" size="22"></ng-md-icon>
                {{'SPC_OPTIONS_EXPORT' | translate}}
            </md-button>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <div id="packoutChart" flex="100" ></div>
    </tri-widget>
</div>
