<div class="spc-container overlay-10" layout="column">
    <div layout="row" layout-margin flex="grow">
        <tri-widget widget-chart flex="grow" title="Standard deviation of DCA Avg Power Cal" style="min-height:1200px">
            <div layout-sm="column" layout="row" layout-padding >
                <div layout="column">
                    <md-datepicker ng-model="dateFrom" md-placeholder="From date" ng-change="dateFromChanged(dateFrom)"></md-datepicker>
                    <md-datepicker ng-model="dateTo" md-placeholder="To date" ng-change="dateToChanged(dateTo)"></md-datepicker>
                    <div layout-padding>
                        <table class="gridtable" style="width:150px;" >
                            <tr>
                                <th>
                                    Legend
                                </th>
                            </tr>
                            <tr>
                                <td ng-class="'c1'">0 - 0.06</td>
                            </tr>
                            <tr>
                                <td ng-class="'c2'">0.06 - 0.12</td>
                            </tr>
                            <tr>
                                <td ng-class="'c3'">0.12 - 0.18</td>
                            </tr>
                            <tr>
                                <td ng-class="'c4'">0.18 - 100</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table class="gridtable">
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="4">Channel</th>
                    </tr>
                    <tr>
                        <th>Rack</th>
                        <th>DUT</th>
                        <th>0</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr data-ng-repeat="row in data">
                        <td ng-if="$index % 6 === 0" rowspan="6">{{row.r}}</td>
                        <td>{{row.d}}</td>
                        <td ng-class="getColor(row['0'])">{{row['0']}}</td>
                        <td ng-class="getColor(row['1'])">{{row['1']}}</td>
                        <td ng-class="getColor(row['2'])">{{row['2']}}</td>
                        <td ng-class="getColor(row['3'])">{{row['3']}}</td>
                    </tr>
                </table>
            </div>
        </tri-widget>
    </div>
</div>
