<md-content class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>device</label>
                <md-select ng-model="device" ng-change="changeDevice(device)">
                    <md-option ng-repeat="i in ['40GB', '100GB']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>group by</label>
                <md-select ng-model="grouping"
                           ng-change="changeGrouping(grouping)" style="width:120px">
                    <md-option value="slot">Slot</md-option>
                    <md-option value="channel">Channel</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'SPC_OPTIONS_RACK' | translate}}</label>
                <md-select ng-model="rack"
                           ng-change="changeRack(rack)" style="width:80px">
                    <md-option ng-repeat="rack in racks" value="{{rack}}">{{rack}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'SPC_OPTIONS_SERIALNUMBER' | translate}}</label>
                <md-select
                        ng-model="serialNumber"
                        ng-change="changeSerialNumber(serialNumber)" style="width:140px">
                    <md-option ng-repeat="serialNumber in serialNumbers | orderBy"
                               value="{{serialNumber}}">{{serialNumber}}</md-option>
                </md-select>
            </md-input-container>

                <md-checkbox ng-model="showAll" aria-label="Show all" ng-change="showAllClicked(showAll)">
                    Show excluded
                </md-checkbox>

            <span flex></span>
            <md-input-container class="hide-error-msg" >
                <label>{{'SEARCH-SERIAL' | translate}}</label>
                <input type="text" name="search" ng-model="searchSerial" aria-label="{{'SEARCH-SERIAL' | translate}}"
                       style="width:200px !important;">
            </md-input-container>
            <md-button aria-label="{{'SEARCH-SERIAL' | translate}}"
                       ng-click="searchClick(searchSerial)" class="md-icon-button">
                <ng-md-icon icon="search" size="22"></ng-md-icon>
            </md-button>
            <md-button ng-click="exportClick()" class="md-raised" aria-label="Export data">
                <ng-md-icon icon="get_app" size="22"></ng-md-icon>
                {{'SPC_OPTIONS_EXPORT' | translate}}
            </md-button>
            <a target="_self" id="spcexportlink" download="{{filename}}" ng-href="{{url}}" ng-show="false">Export</a>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <md-tabs flex="100" md-selected="selectedIndex" md-border-bottom>
            <md-tab data-ng-repeat="(field, serials) in charts" md-on-select="tabSelected(field)"
                    label="{{field | translate}}">
                    <md-grid-list flex="100" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="{{cols}}" md-row-height="300px"
                                  md-gutter="5px">
                        <md-grid-tile md-colspan="1" data-ng-repeat="(serial, chart) in serials">
                            <md-content id="spc{{field}}{{serial}}" class="chartContainer"></md-content>
                        </md-grid-tile>
                    </md-grid-list>
            </md-tab>
        </md-tabs>
    </tri-widget>
</div>

