<div class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>device</label>
                <md-select ng-model="device" ng-change="changeDevice(device)" style="width:100px">
                    <md-option ng-repeat="i in ['100GB']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <div id="testInsertionsChart" flex="100"></div>
    </tri-widget>
</div>