<div class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>device</label>
                <md-select  placeholder="Device" ng-model="device" ng-change="changeDevice(device)"
                           style="width:120px">
                    <md-option ng-repeat="i in ['40GB', '100GB']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-show="device == '100GB'">
                <label>{{'SPC_OPTIONS_RACK' | translate}}</label>
                <md-select ng-model="rack"
                           ng-change="changeRack(rack)" style="width:120px">
                    <md-option ng-repeat="rack in racks" value="{{rack}}">{{rack}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <div id="testSpeedChart" flex="100"></div>
    </tri-widget>
</div>