<div class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>{{'TIMETREND_OPTIONS_INTERVAL' | translate}}</label>
                <md-select ng-model="interval" ng-change="changeInterval(interval)">
                    <md-option ng-repeat="interval in intervals"
                               value="{{interval}}">{{interval | translate}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'TIMETREND_OPTIONS_PARTNUMBER' | translate}}</label>
                <md-select ng-model="partNumber" ng-change="changePartNumber(partNumber)" style="width:120px">
                    <md-option ng-repeat="partNumber in partNumbers  | orderBy"
                               value="{{partNumber}}">{{partNumber}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'TIMETREND_VARIABLE' | translate}}</label>
                <md-select ng-model="variable" ng-change="changeVariable(variable)" style="width:260px">
                    <md-option ng-repeat="variable in variables | orderBy" value="{{variable}}">{{variable}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'OPTIONS_MANUFACTURERS' | translate}}</label>
                <md-select ng-model="manufacturer" ng-change="changeManufacturer(manufacturer)" style="width:120px">
                    <md-option ng-repeat="manufacturer in manufacturers | orderBy"
                               value="{{manufacturer}}">{{manufacturer}}</md-option>
                </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container  class="hide-error-msg">
                <label >{{'SEARCH-SERIAL' | translate}}</label>
                <input type="text" name="search" ng-model="search"  aria-label="{{'SEARCH-SERIAL' | translate}}"  style="width:220px" />
            </md-input-container>
            <md-button aria-label="{{'SEARCH-SERIAL' | translate}}"
                       ng-click="searchClick(search)" class="md-icon-button">
                <ng-md-icon icon="search" size="22"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <md-tabs  flex="100" md-selected="selectedIndex" md-border-bottom>
            <md-tab label="{{variable}}">
                <md-content>
                    <md-grid-list flex="" md-cols="2" md-cols-sm="1" md-cols-md="1" md-cols-gt-md="2"
                                  md-row-height="300px" md-gutter="5px">
                        <md-grid-tile md-colspan="1">
                            <div id="timetrend1" class="chartContainer"></div>
                        </md-grid-tile>
                        <md-grid-tile md-colspan="1">
                            <div id="timetrend2" class="chartContainer"></div>
                        </md-grid-tile>
                        <md-grid-tile md-colspan="1">
                            <div id="timetrend3" class="chartContainer"></div>
                        </md-grid-tile>
                        <md-grid-tile md-colspan="1">
                            <div id="timetrend4" class="chartContainer"></div>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </tri-widget>
</div>

