<div class="" layout="column">
    <div layout="row" layout-margin flex="100">
        <div flex="100" >
            <div layout-sm="column" layout="row" layout-align-sm="start start" layout-align="start center" flex="1">
                <md-select layout-padding placeholder="Device" ng-model="device" ng-change="changeDevice(device)">
                    <md-option ng-repeat="i in ['40GB', '100GB']" value="{{i}}">{{i}}</md-option>
                </md-select>
                <md-select layout-padding placeholder="{{'TIMETREND_OPTIONS_INTERVAL' | translate}}" ng-model="interval" ng-change="changeInterval(interval)">
                    <md-option ng-repeat="i in ['Daily', 'Weekly', 'Rework']" value="{{i}}">{{i}}</md-option>
                </md-select>
                <div layout-padding>{{'YIELD_OPTIONS_MIN_TOTAL' | translate}}</div>
                <md-select layout-padding  placeholder="{{'YIELD_OPTIONS_MIN_TOTAL' | translate}}" ng-model="minTotal" ng-change="changeMinTotal(minTotal)">
                    <md-option ng-repeat="minTotal in minTotals" value="{{minTotal}}">{{minTotal}}</md-option>
                </md-select>
                <md-select layout-padding placeholder="{{'OPTIONS_MANUFACTURERS' | translate}}" ng-model="manufacturer" ng-change="changeManufacturer(manufacturer)">
                    <md-option ng-repeat="manufacturer in manufacturers | orderBy" value="{{manufacturer}}">{{manufacturer}}</md-option>
                </md-select>
                <span flex></span>
                <md-button ng-click="exportClick()">
                    <md-icon md-font-icon="icon-more"></md-icon>
                    {{'SPC_OPTIONS_EXPORT' | translate}}
                </md-button>
            </div>
            <div id="yieldChartParametric" class="chartPackaoutContainer" flex="grow"></div>
            <div style="height:30px;"> </div>
        </div>
    </div>
</div>
