<div class="spc-container" layout-padding layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="start end">
            <md-input-container>
                <label>device</label>
                <md-select ng-model="device" ng-change="changeDevice(device)">
                    <md-option ng-repeat="i in ['40GB', '100GB']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-show="device === '100GB'">
                <label>type</label>
                <md-select ng-model="yieldType" ng-change="changeYieldType(yieldType)" >
                    <md-option ng-repeat="i in ['Fixed week', 'Current']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'TIMETREND_OPTIONS_INTERVAL' | translate}}</label>
                <md-select  ng-model="interval"
                           ng-change="changeInterval(interval)">
                    <md-option ng-repeat="i in ['Daily', 'Weekly', 'Monthly', 'Rework']" value="{{i}}">{{i}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'YIELD_OPTIONS_MIN_TOTAL' | translate}}</label>
                <md-select  ng-model="minTotal" style="width:100px"
                           ng-change="changeMinTotal(minTotal)">
                    <md-option ng-repeat="minTotal in minTotals" value="{{minTotal}}">{{minTotal}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>{{'OPTIONS_MANUFACTURERS' | translate}}</label>
                <md-select  ng-model="manufacturer" style="width:120px"
                           ng-change="changeManufacturer(manufacturer)">
                    <md-option ng-repeat="manufacturer in manufacturers | orderBy"
                               value="{{manufacturer}}">{{manufacturer}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tests</label>
                <md-select  ng-model="testType" style="width:150px"
                            ng-change="changeTestType(testType)">
                    <md-option ng-repeat="testType in testTypes | orderBy"
                               value="{{testType}}">{{testType}}</md-option>
                </md-select>
            </md-input-container>
            <span flex></span>
            <md-menu>
                <md-button aria-label="{{'SPC_OPTIONS_EXPORT' | translate}}" ng-click="$mdOpenMenu()" class="md-warn">
                    <ng-md-icon icon="get_app" size="22"></ng-md-icon>
                    {{'SPC_OPTIONS_EXPORT' | translate}}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item >
                        <md-button ng-click="exportSummary()" aria-label="ALL">
                            Summary
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="device !== '40GB'">
                        <md-button ng-click="exportDetails('A')" aria-label="ALL">
                            All
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="device !== '40GB'">
                        <md-button ng-click="exportDetails('P')" aria-label="Passes">
                            Passes
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="device !== '40GB'">
                        <md-button ng-click="exportDetails('F')" aria-label="Fails">
                            Fails
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="device !== '40GB'">
                        <md-button ng-click="exportDetails('E')" aria-label="Fails">
                            Errors
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <tri-widget widget-chart flex="100">
        <div id="yieldChartParametric" flex="100"></div>
    </tri-widget>
</div>

