<md-content layout="column" class="overlay-10" flex="100">

    <md-card style="height:80px !important;min-height:80px !important">
        <md-card-content>
            <form name="transForm">
                <md-radio-group ng-model="grouping" layout="row" ng-change="changeGrouping(grouping)" flex="100">
                    <md-radio-button value="testData">Parameters</md-radio-button>
                    <md-radio-button value="eyeImages" class="md-primary">Eye Images</md-radio-button>
                    <md-radio-button value="sensitivityCharts">Sensitivity charts</md-radio-button>
                </md-radio-group>
            </form>
        </md-card-content>
    </md-card>

    <md-card>
        <md-subheader class="md-no-sticky" ng-show="grouping === 'testData'">Parameters for {{code}}</md-subheader>
        <md-content layout="row" ng-show="grouping === 'testData'" style="height:800px">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns
                 ui-grid-save-state  ui-grid-auto-resize style="position:absolute;height:calc(100% - 100px) !important;top:20px;left:8px;right:8px;bottom:20px;"></div>
        </md-content>
        <md-content ng-show="grouping === 'eyeImages'">
            <md-subheader class="md-no-sticky">Eye images for {{code}}</md-subheader>
            <md-progress-circular md-mode="indeterminate" ng-show="showProgress"></md-progress-circular>
            <md-grid-list flex="80" md-cols="3" md-cols-xs="2" md-row-height="5:4" md-gutter="6px">
                <md-grid-tile ng-click="openImage(eye, $event)" md-rowspan="1"
                              md-colspan="1" ng-repeat="eye in eyeImages"
                              ng-style="::{ 'background-image': 'url(' + image.url + ')', 'background-size' : 'cover' }">
                    <img alt="{{eye.fileName}}" src="{{eye.content}}"/>
                    <md-grid-tile-footer>
                        <div class="image-footer">{{eye.fileName.replace('TxEye_', '')}}</div>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
        <md-content ng-show="grouping === 'sensitivityCharts'">
            <md-subheader class="md-no-sticky" ng-show="grouping === 'sensitivityCharts'">Sensitivity charts
                for {{code}}
            </md-subheader>
            <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4" md-row-height="300px" md-gutter="5px">
                <md-grid-tile md-colspan="1" data-ng-repeat="sensChart in sensCharts">
                    <div id="sens{{sensChart._id}}" class="chartContainer"></div>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
    </md-card>
</md-content>