<div class="spc-container overlay-10">
    <md-card>
        <md-card-content layout="column">
            <div class="exportsmall">Comma delimited serial numbers</div>
            <md-input-container>
                <input type="text" name="serial" ng-model="serial" aria-label="Serial#" style="width:500px">
            </md-input-container>
            <div class="exportsmall" style="padding-top:18px">Part number</div>
            <div layout="row">
                <md-select class="export-select" placeholder="Part number" ng-change="onChangePartNumber(partNumber)"
                           ng-model="partNumber" ng-required>
                    <md-option ng-repeat="partNumber in partNumbers | orderBy"
                               value="{{partNumber}}">{{partNumber}}</md-option>
                </md-select>
                <md-checkbox ng-model="ignorePartNumber" aria-label="Ignore part number" ng-show="serial"
                             style="padding-top:5px;margin-top:20px;margin-left:35px;"
                             ng-change="ignorePArtNumberClicked(ignorePartNumber)">
                    Ignore part number
                </md-checkbox>
            </div>
            <div class="exportsmall">From - To Date</div>
            <div layout="row">
                <md-datepicker ng-model="dateFrom" md-placeholder="From date"></md-datepicker>
                <md-datepicker ng-model="dateTo" md-placeholder="To date"></md-datepicker>
                <md-checkbox ng-model="ignoreDate" aria-label="Ignore date" ng-show="serial"
                             style="margin-top:8px;margin-left:35px;"
                             ng-change="ignoreDateClicked(ignoreDate)">
                    Ignore date
                </md-checkbox>
            </div>
            <br/>
            <div class="exportsmall">Test type</div>
            <md-select class="export-select" placeholder="Test type" ng-model="testType" ng-required>
                <md-option ng-repeat="tt in testTypes" value="{{tt}}">{{tt}}</md-option>
            </md-select>
            <div class="exportsmall">Error Status</div>
            <md-select class="export-select" placeholder="Error status" ng-change="onChangeErrorStatus(errorStatus)"
                       ng-model="errorStatus" ng-required>
                <md-option ng-repeat="errorStatus in errorStatuses | orderBy"
                           value="{{errorStatus}}">{{errorStatus}}</md-option>
            </md-select>
            <md-checkbox ng-model="exportDetails" aria-label="Export details"
                         ng-change="exportDetailsClicked(exportDetails)">
                Export details
            </md-checkbox>
         <!--   <md-checkbox ng-model="exportLast" aria-label="Export last"
                         ng-change="exportLastClicked(exportLast)">
                Export only last test per serial
            </md-checkbox> -->
            <md-checkbox ng-model="exportTosa" aria-label="Export TOSA" ng-show="testType !== 'ALL - ALL'"
                         ng-change="exportTosaClicked(exportTosa)">
                Export TOSA data
            </md-checkbox>
            <md-checkbox ng-model="exportRosa" aria-label="Export ROSA" ng-show="testType !== 'ALL - ALL'"
                         ng-change="exportRosaClicked(exportRosa)">
                Export ROSA data
            </md-checkbox>
            <md-button class="md-primary md-raised" aria-label="button" ng-click="exportClicked()" style="width:300px;">Export</md-button>
            <md-progress-circular md-mode="indeterminate" ng-show="showProgress"></md-progress-circular>
        </md-card-content>
    </md-card>
</div>